// ------- COLORS -----------
$color-black: #000;
$color-white: #fff;

$color-dark-grey: #525252;

$color-dark-grey-1: #343434;
$color-yellowish: #FFD5AA;
$color-orange: #FF8300;

$default-background-color: #eee;

$default-font-size: 1.6rem;

$grid-max-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
