.btn

{
    &:link,
    &:visited
    {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        border: 2px solid $color-orange;
        border-radius: 100rem;
        color: $color-orange;
        letter-spacing: 2px;
        box-shadow: 0rem 1rem 3rem rgba($color-black,.15);
        cursor: pointer;
        display: inline-block;
        transition: all .3s;

    }

    &:hover
    {
         
         transform: translateY(-4px);
        
        }
 
     &:active {
         
         transform: translateY(0);
         box-shadow: 0rem 1rem 2rem rgba($color-black,.2);
        
        }
   
}

.btn-text

{
    &:link,
    &:visited
    {
        text-decoration: none;
        display: inline-block;
        padding: 1.5rem 4rem;
        border: 2px solid $color-orange;
        color: $color-orange;
        border-radius: 100rem;
        box-shadow: 0rem 1rem 3rem rgba($color-black,.15);
        transition: all .3s;
    }

    &:hover
    
    {
        transform: translateY(-1rem);
        background-color: $color-orange;
        color: $color-white;
    }

    &:active

    {
        transform: translateY(0);
        box-shadow: 0rem 1rem 2rem rgba($color-black,.2);
    }


}

.btn-submit

{
    
        text-decoration: none;
        display: inline-block;
        padding: 1.5rem 4rem;
        border: 2px solid $color-orange;
        border-radius: 100rem;
        text-transform: uppercase;
        color: $color-orange;
        background-color: transparent;
        cursor: pointer;
        transition: all .5s;
        box-shadow: 0rem 1rem 3rem rgba($color-black,.15);
        
        &:hover{
            transform: translateY(-1rem);
        }
        &:active
        {
            transform: translateY(0);
            box-shadow: 0rem 1rem 2rem rgba($color-black,.2);
        }


}

.btn-log

{
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 3.5rem;
    border-radius: 100rem;
    background-color: rgba(#eee,.8);

    position: absolute;
    top: 1rem;
    right: 1.5rem;

    font-size: 1.6rem;
    transition: all .2s;
    &:hover
    {
        opacity: .8;
    }

    @include respond(tab-port)
    {
        top: 1.5rem;
        right: 1.5rem;
        display: none;
    }
}

.btn__footer
{
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 3px;
    background-color: rgba(#eee,.8);
    text-transform: uppercase;
    transition: opacity .2s;
    cursor: pointer;
    
    &:hover
    {
        opacity: .6;
    }

   
 }
