.footer

{
    padding: 8rem 0 15rem 0; // Top Left Bottom Right
    background-color: $color-dark-grey-1;
    text-align: center;
    position: relative;

    @include respond(phone)
    {
        padding: 6rem 0 8rem 0; // Top Left Bottom Right
    }
    
    &__logo-text

    {
        font-size: 2.5rem;
        position: absolute;
        top: 2rem;
        left: 2.5rem;

        @include respond(phone)
        {
            font-size: 2rem;
           
        }
      
    }
 
    &__items

    {
        display: inline-block;
       
    }

    &__links

    {
        text-decoration: none;
    }


    &__input

    {
        font-size: 1.5rem;
        font-family: inherit;
        color: #fff;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        border: 1px solid #eee;
        background-color: transparent;
        -webkit-transition: all .3s;
        transition: all .3s;
        margin-right: 1rem;
    
        &:focus
        {
            outline: none;
        }

        @include respond(small-phone)
        {
            margin-bottom: 1.5rem;
        }
    }

    &__copyright

    {
        margin-top: 2rem;
        font-size: 1.2rem;
        letter-spacing: 1px;

       
    }

  
}

.horizontal-bar
{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    height: 2px;
    width: 25rem;
    background-color: #eee;
    display: inline-block;
}